body {
  color: lightcoral;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  background-color: black;
}
header {
  border: 5px ridge magenta;
  background-color: pink;
  color: rebeccapurple;
  padding: 10px 15px;
  margin: 20px 5px;
}

main {
  padding: 10px 15px;
  border: 3px ridge magenta;
  margin: 20px 5px;
}
nav {
  padding: 10px 15px;
  border: 3px ridge magenta;
  margin: 20px 5px;
  font-size: small;
}
img {
  border: 2px dashed violet;
  margin: 20px 0px 0px 0px;
}
a {
  color: mediumvioletred;
}
.navbar {
  padding: 0px;
  margin: 0px;
}
.navbar li {
  display: inline;
  padding: 0px;
}
.titel {
  font-size: x-large;
  width: 400px;
  margin: 0 auto;
}
.onderschrift {
  margin: 0px 0px 10px;
  font-size: smaller;
}

@media (min-width: 1024px) {
  body {
    font-size: larger;
  }
  .titel {
    font-size: xx-large;
    width: 600px;
  }
}
