/* mobile first!*/
@import url("https://fonts.googleapis.com/css?family=Sofia");
body {
  background-image: url("images/hanks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0px;
  font-family: "Sofia", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #28004d;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.3em;
}
.navbar li {
  float: left;
  width: 20%;
}
.navbar a {
  display: block;
  color: rgb(218, 179, 255);
  text-align: center;
  padding: 0.4em 0.3em;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #111;
}
.clr {
  clear: both;
}
header {
  border-radius: 25px;
  border: 5px solid purple;
  background-color: rgb(218, 179, 255, 0.7);
  padding: 10px;
  margin: 15px;
}
footer {
  margin: 0;
  padding: 10px;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
  font-size: 0, 8em;
  color: rgb(218, 179, 255);
}
.disclaimer {
  font-size: 10px;
  color: burlywood;
}
form {
  border-radius: 25px;
  border: 5px solid purple;
  background-color: rgba(211, 211, 211, 0.6);
  padding: 10px;
  margin: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
.linkbox {
  border-radius: 25px;
  border: 5px solid purple;
  background-color: rgba(218, 179, 255, 0.7);
  padding: 10px 10px 0px;
  margin: 15px;
}
.infobox {
  border-radius: 25px;
  border: 5px solid purple;
  background-color: rgba(211, 211, 211, 0.7);
  padding: 0px 10px;
  margin: 15px;
}
.inleiding {
  border-radius: 25px;
  border: 5px solid purple;
  background-color: rgba(211, 211, 211, 0.7);
  padding: 10px;
  margin: 15px;
}
a {
  text-decoration: none;
  color: #28004d;
}
img {
  width: 100%;
  border-radius: 25px;
}
h3 {
  margin: 15px 0px 0px;
}
.infobox p {
  margin: 10px 0px;
}
@media (min-width: 720px) {
  .navbar ul {
    font-size: 0.75em;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  header {
    width: 840px;
    margin: 15px auto;
  }
  main {
    width: 900px;
    margin: 0 auto;
  }
  form {
    width: 900px;
    margin: 15px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1{
    font-size: 35px;
  }
  .linkbox {
    float: left;
    width: 30%;
    box-sizing: border-box;
  }
  .linkbox img {
    height: 150px;
  }
  .logo {
    width: 200px;
    margin: 0 auto;
  }
  .disclaimer {
    width: 600px;
    margin: 0 auto;
  }
  .sidetext {
    float: left;
    width: 80%;
  }
  #side_img {
    float: right;
    width: 17%;
    margin: 10px 10px; 
  }
  
}
